:root {
  --primary_one: #495e57;
  --primary_two: #f4ce14;
  --secondary_text: #333333;
  --secondary_one: #ee9972;
  --secondary_two: #fbdabb;
  --secondary_three: #edefee;
  --font_karla: "Karla";
  --font_markazi: "Markazi";
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  width: 100%;
}

/* navbar */
nav {
  grid-area: header;
  width: 100%;
  height: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font_karla);
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 20px;
  gap: 18px;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary_text);
  font-weight: bold;
}

/* main */
main {
  grid-area: main;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

/* hero */
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary_one);
  padding: 40px;
  gap: 80px;
  font-family: var(--font_markazi);
}

.hero_description {
  width: 350px;
}

.hero_description h1 {
  color: var(--primary_two);
  font-size: 52px;
}

.hero_description h2 {
  font-size: 32px;
}

.hero_description h2,
.hero_description p {
  color: var(--secondary_three);
}

.hero_description p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.hero_image img {
  width: 325px;
  height: 375px;
  border-radius: 18px;
}

.hero_description .reserve {
  background-color: var(--primary_two);
  color: var(--secondary_text);
  border: none;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 18px;
  cursor: pointer;
}

/* menu */
.menu {
  display: flex;
  flex-direction: column;
  width: 985px;
  margin: 0 auto;
  padding: 40px;
  margin-top: 40px;
  font-family: var(--font_karla);
}

.menu_title {
  display: flex;
  justify-content: space-between;
}

.menu_title h1 {
  font-size: 52px;
  color: var(--secondary_text);
}

.menu_title .menu_button {
  background-color: var(--primary_two);
  color: var(--secondary_text);
  border: none;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 18px;
  cursor: pointer;
}

.menu_card_container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.menu_card {
  display: flex;
  flex-direction: column;
  width: 265px;
  border-radius: 18px;
  overflow: hidden;
  background-color: var(--secondary_three);
}

.menu_card img {
  width: 265px;
  height: 186px;
}

.menu_body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}

.menu_card_title {
  display: flex;
  justify-content: space-between;
}

.menu_card_title h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary_text);
}

.menu_card_title p {
  font-size: 18px;
  color: var(--secondary_one);
}

.menu_card_description {
  font-size: 18px;
  color: var(--secondary_text);
}

.menu_card_footer {
  display: flex;
  align-items: center;
}

.menu_card_footer p {
  font-size: 18px;
  color: var(--secondary_text);
  font-weight: bold;
}

.menu_card_footer img {
  width: 16px;
  height: 11px;
  margin-inline-start: 10px;
}

/* footer */
footer {
  grid-area: footer;
  padding: 40px;
  font-family: var(--font_karla);
}

footer .footer-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

footer h3 {
  font-size: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 15px;
  margin-left: 40px;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

footer ul li a {
  text-decoration: none;
  color: var(--secondary_text);
}

footer ul li a.social {
  text-decoration: none;
  color: var(--secondary_text);
  display: flex;
  gap: 18px;
}

footer ul li a.social img {
  width: 20px;
  height: 20px;
}

footer .copy {
  text-align: center;
  margin-top: 80px;
  border-top: 1px solid var(--secondary_text);
  padding: 20px;
}

