:root {
  --primary_one: #495e57;
  --primary_two: #f4ce14;
  --secondary_text: #333333;
  --secondary_one: #ee9972;
  --secondary_two: #fbdabb;
  --secondary_three: #edefee;
  --font_karla: "Karla";
  --font_markazi: "Markazi";
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  width: 100%;
}

/* navbar */
nav {
  grid-area: header;
  width: 100%;
  height: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font_karla);
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 20px;
  gap: 18px;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary_text);
  font-weight: bold;
}

main {
  grid-area: main;
}

/* footer */
footer {
  grid-area: footer;
  padding: 40px;
  font-family: var(--font_karla);
}

footer .footer-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

footer h3 {
  font-size: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 15px;
  margin-left: 40px;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

footer ul li a {
  text-decoration: none;
  color: var(--secondary_text);
}

footer ul li a.social {
  text-decoration: none;
  color: var(--secondary_text);
  display: flex;
  gap: 18px;
}

footer ul li a.social img {
  width: 20px;
  height: 20px;
}

footer .copy {
  text-align: center;
  margin-top: 80px;
  border-top: 1px solid var(--secondary_text);
  padding: 20px;
}

